api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "7401db4708a87429e50157ed83c5feb358ec507bb977100134ec2abe9236a915"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.148.tar.gz"
    source_sha256 = "7e62e54db048b79567ac567b039c4a529a1d1b8332b997f9d77f82533dd8bb0c"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.148/dotnet-core-conf-0.0.148.tgz"
    version = "0.0.148"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "0e7e782bd6bc1b99c01f07c67b507af63fe027e8aaa1df1d64083555883efe9d"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.163.tar.gz"
    source_sha256 = "366e7be30d31b82166d422738577cd5f6d7e45cd78875ed5b03cbee007a06ac5"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.163/dotnet-core-runtime-0.0.163.tgz"
    version = "0.0.163"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "a6e7b48a3a9480be20b12309929a63e02dda1acae0bec3deb000988e756c5ce7"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.159.tar.gz"
    source_sha256 = "e6f5e8725cf1b009ce229dcfe7fcd312dbeaac0660ddab8f7075896204658e02"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.159/dotnet-core-sdk-0.0.159.tgz"
    version = "0.0.159"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "14ad0a933b523bf549f3530740562e87cc5f6fc0e4beeafb808c33210a395a80"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.73.tar.gz"
    source_sha256 = "789b0b31c7c82cc62a094996794eebd99cfe5a676268ff56ef79e290ec1d3c43"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.73/icu-0.0.73.tgz"
    version = "0.0.73"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "ab1c7e3be23245f3550d5b9c376407dc0f53f43b846ebcb438547dd794bb48f7"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.210.tar.gz"
    source_sha256 = "8e0528307e60f36808219eba367afb235406fcb6be07c57b85dc8d94673e0d53"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.210/node-engine-0.0.210.tgz"
    version = "0.0.210"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "a00147d6c556e98780ad12839a0a308b8f7f8a3c2fc35ac110b4b0dd7278f963"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.157.tar.gz"
    source_sha256 = "562eae30174bf6c3b1c3e914f2469d2da3ba48aeba9c58f69c7b695b1362e71d"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.157/dotnet-core-aspnet-0.0.157.tgz"
    version = "0.0.157"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "d1632da7ed3c025ca03ab2a8eca7ab8d3b504b5dde4e2a2e91175bcb9aab6062"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.93.tar.gz"
    source_sha256 = "db3ce8f69fc93de940d20b96990876eca50a61ab611c01efde8f9c17b129ebae"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.93/dotnet-core-build-0.0.93.tgz"
    version = "0.0.93"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.210"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.73"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.163"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.157"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.159"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.93"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.148"
