api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "ccf80ee29f5e18e3b37c74d4ea3a0079e6d22b04b2797704565238d18aa788d5"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.153.tar.gz"
    source_sha256 = "858661fbc1afddc9000c84c0b309c52dc6feff6abe3a1bf2e96125a4b118a002"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.153/dotnet-core-conf-0.0.153.tgz"
    version = "0.0.153"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "b0fb376b9b772b7a9144f1e11e11151b3a484af407deb65c613cbfee1d7ef517"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.168.tar.gz"
    source_sha256 = "932cd87dcde1aac791a354b5d53a12841111a8ae81ce0e25d13ebbe42d2718fe"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.168/dotnet-core-runtime-0.0.168.tgz"
    version = "0.0.168"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "c0c0e98d36f029462f27febee3c0a7d049828d269c0b157034f16abea1370943"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.168.tar.gz"
    source_sha256 = "1d28c18869b34067939ec10986a7e4a7715ebaa7cad5ad8ffe114bd62edf6ee9"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.168/dotnet-core-sdk-0.0.168.tgz"
    version = "0.0.168"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "b3fd670afd5f9afd6fbf152db610931a29a99955a00fff91ea95b2c89c1e5b8b"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.77.tar.gz"
    source_sha256 = "99251928360539df5e88b0229e22ff807b3c9c382034bbb709bddc64f6c22929"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.77/icu-0.0.77.tgz"
    version = "0.0.77"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "06fb7908a1c78312bc4cb19b563a36b66cc91d0d223edee7f3210de0da379442"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.221.tar.gz"
    source_sha256 = "e22dfc7570837f1e7e787a839e00320acfca447459361b701d59c4ba773a2540"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.221/node-engine-0.0.221.tgz"
    version = "0.0.221"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "fdcb5599cee3525d64d41ceae40877accf249d6bc73abf589e2a164d080d1293"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.164.tar.gz"
    source_sha256 = "292409332efbe9a1730761d143a336a97e77c603a4896103f809bb726c7eeb8e"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.164/dotnet-core-aspnet-0.0.164.tgz"
    version = "0.0.164"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "e40bc743ab30385502258b434ee5c86e3651e314435fa604deeb59273a87f1a0"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.97.tar.gz"
    source_sha256 = "bd062e36dbda1cabaa9e2ba9bc818f97f408624768d5030df8e034c859aa83d4"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.97/dotnet-core-build-0.0.97.tgz"
    version = "0.0.97"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.221"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.77"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.168"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.164"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.168"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.97"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.153"
