api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "984972d5e6f474b8be0e32ec3ef72d02fd503c01a06154681b2716d4705af467"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.151.tar.gz"
    source_sha256 = "0ac5ca1c89de3d3df30d8d5064175188416b350263e6577bbdeac01c6b009a6a"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.151/dotnet-core-conf-0.0.151.tgz"
    version = "0.0.151"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "1e06e9ca80068a45b500fbb3fb584cc58e1c68bf4b90e9d8dfd589495b17505f"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.167.tar.gz"
    source_sha256 = "d069176a3dade108ab424c4dfb0dd9efd6f4dcaecb0c5741ee6d242e1d630e58"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.167/dotnet-core-runtime-0.0.167.tgz"
    version = "0.0.167"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "eafeed425c3663906312064cbc64eb178da1583723ce65a33fa8d7589b0bf44b"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.164.tar.gz"
    source_sha256 = "0a9dda837509952606f62671950be374d333bb793449357166c967df33158297"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.164/dotnet-core-sdk-0.0.164.tgz"
    version = "0.0.164"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "4ae05778c021e07a664c43073db1506cb42256505b1d4a87d54b40324885091e"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.74.tar.gz"
    source_sha256 = "4337fd0e61aeffc67db10ccbb6a1a3431dec4be4da6d990c4bb616bc65fee7c2"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.74/icu-0.0.74.tgz"
    version = "0.0.74"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "0b18b76eae7d9609b04220854f04350db8063536ac35eab9165b5f53137c613a"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.220.tar.gz"
    source_sha256 = "bebe9ee706bef48653410b188d7905ac5241292d9ae958926cd4a254d022f329"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.220/node-engine-0.0.220.tgz"
    version = "0.0.220"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "c312645f6a2c64d427f46579b4f378ff4d4a10a1c0093245d9258149228c6d95"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.162.tar.gz"
    source_sha256 = "4de4d7c48d8de174ba88cffa765f534afd85a1c58128c6ebf5c5c620e2601fff"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.162/dotnet-core-aspnet-0.0.162.tgz"
    version = "0.0.162"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "e76a2c557549201d551b542d94a5b894a2cc8595b294f8b597b829a17321a4d1"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.95.tar.gz"
    source_sha256 = "02c34dc6e6c0252af5c4050033c4f4280b48229569f69ef51e6b63d589869e9b"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.95/dotnet-core-build-0.0.95.tgz"
    version = "0.0.95"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.220"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.74"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.167"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.162"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.164"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.95"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.151"
