api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "cb2d8d5dd3a541c7aa6a26216797a497b3169c9924a8cc890b20c9be2ea75745"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.152.tar.gz"
    source_sha256 = "7f4fcdd825aa2adfe4b6e2c12f452e09562b44055a118409cb1e1dde973ef75e"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.152/dotnet-core-conf-0.0.152.tgz"
    version = "0.0.152"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "1e06e9ca80068a45b500fbb3fb584cc58e1c68bf4b90e9d8dfd589495b17505f"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.167.tar.gz"
    source_sha256 = "d069176a3dade108ab424c4dfb0dd9efd6f4dcaecb0c5741ee6d242e1d630e58"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.167/dotnet-core-runtime-0.0.167.tgz"
    version = "0.0.167"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "1e7a7f27b5d27383ff519add3395ac0da0c8c933428fd8e8bc06ad66c0fe8390"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.167.tar.gz"
    source_sha256 = "103b3ae4ed2678ea5c6f0aeebbd609fe716fea1c4061867f58e53731a6f0d924"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.167/dotnet-core-sdk-0.0.167.tgz"
    version = "0.0.167"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "b3fd670afd5f9afd6fbf152db610931a29a99955a00fff91ea95b2c89c1e5b8b"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.77.tar.gz"
    source_sha256 = "99251928360539df5e88b0229e22ff807b3c9c382034bbb709bddc64f6c22929"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.77/icu-0.0.77.tgz"
    version = "0.0.77"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "06fb7908a1c78312bc4cb19b563a36b66cc91d0d223edee7f3210de0da379442"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.221.tar.gz"
    source_sha256 = "e22dfc7570837f1e7e787a839e00320acfca447459361b701d59c4ba773a2540"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.221/node-engine-0.0.221.tgz"
    version = "0.0.221"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "fdcb5599cee3525d64d41ceae40877accf249d6bc73abf589e2a164d080d1293"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.164.tar.gz"
    source_sha256 = "292409332efbe9a1730761d143a336a97e77c603a4896103f809bb726c7eeb8e"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.164/dotnet-core-aspnet-0.0.164.tgz"
    version = "0.0.164"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "e40bc743ab30385502258b434ee5c86e3651e314435fa604deeb59273a87f1a0"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.97.tar.gz"
    source_sha256 = "bd062e36dbda1cabaa9e2ba9bc818f97f408624768d5030df8e034c859aa83d4"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.97/dotnet-core-build-0.0.97.tgz"
    version = "0.0.97"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.221"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.77"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.167"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.164"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.167"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.97"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.152"
