api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = "Paketo .NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include-files = ["buildpack.toml"]

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    optional = true
    version = "0.1.6"

  [[order.group]]
    id = "paketo-buildpacks/icu"
    optional = true
    version = "0.0.99"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    optional = true
    version = "0.1.0"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    optional = true
    version = "0.1.1"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    optional = true
    version = "0.0.197"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-publish"
    optional = true
    version = "0.1.0"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-execute"
    version = "0.2.1"
