api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "32508ae11eaa6e40caa01e46512595f2fa855523c90fc6eda46609f753ba5e8b"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.146.tar.gz"
    source_sha256 = "37b58203182d2fa6332e337045797d4fdebe13266cc432ef23faa0fb30dc8080"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.146/dotnet-core-conf-0.0.146.tgz"
    version = "0.0.146"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "4425057c164bd03b157ac6da8c46fbd8303cbda182347fe7bd7aad382eea94c6"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.159.tar.gz"
    source_sha256 = "e2281dab0164ecd1c276d149c8593c7bba01f786faed0f9efb137e8069f62b58"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.159/dotnet-core-runtime-0.0.159.tgz"
    version = "0.0.159"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "c8e9875c8cc38028ae4b6b4f1e29b8890b5028825ed9f49a9c128b5faaaa7cef"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.157.tar.gz"
    source_sha256 = "5de2bd23c975e93d3de0f6c80bb9138ea3827ee703c5fa7dde5e1036ef2ab4bb"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.157/dotnet-core-sdk-0.0.157.tgz"
    version = "0.0.157"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "808e6a23d3e2bdfd77e2b63cc488d8f4fdaed663f184bf80f619dfdaa9bbd012"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.71.tar.gz"
    source_sha256 = "aa81fbb821ecec30ce17b9d8a2a9a99cfc74620e824c9cce72dff92557c331b1"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.71/icu-0.0.71.tgz"
    version = "0.0.71"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "ab1c7e3be23245f3550d5b9c376407dc0f53f43b846ebcb438547dd794bb48f7"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.210.tar.gz"
    source_sha256 = "8e0528307e60f36808219eba367afb235406fcb6be07c57b85dc8d94673e0d53"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.210/node-engine-0.0.210.tgz"
    version = "0.0.210"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "a4267d8762c97e2e07b7fbf1d5671c2b4406e771e4b00a7a1a03e61a3cbb3df8"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.156.tar.gz"
    source_sha256 = "30f6d161509e7b19bbe1f3aa8ad6ea67f8c0c661af180eaa98d49c4d1a5c6c89"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.156/dotnet-core-aspnet-0.0.156.tgz"
    version = "0.0.156"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "6f18b2a481da7b0f01103f055ac20256a30cc9c42754116d86a3ea625b74ecba"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.91.tar.gz"
    source_sha256 = "d5f0ab4ec4b156a3dfffcb073256634ebed066a7d893cd7cb57d41d70c526afc"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.91/dotnet-core-build-0.0.91.tgz"
    version = "0.0.91"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.210"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.71"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.159"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.156"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.157"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.91"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.146"
