api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "7ea09804553ebe8ea715ae76bd9c208a3effbe24a64beb31b1e5ea7605fe5831"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.160.tar.gz"
    source_sha256 = "c3d4b0aafc76e01d0c6d02140791a2c78ed6628a984e93f3694fa50078aca8c4"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.160/dotnet-core-conf-0.0.160.tgz"
    version = "0.0.160"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "bd1391756f2e5a6feefc2e1d54292861a5080e04a55dc6ef9aef5018371cbed9"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.173.tar.gz"
    source_sha256 = "9bfbb3486bc48600da53a0b486214d576e20c0f44f700461ca0f6d4b05780cce"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.173/dotnet-core-runtime-0.0.173.tgz"
    version = "0.0.173"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "22dd2117ca12c1514b377e5ed863c85fa592d2df4cda2bbe449c0c3672ee89c0"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.173.tar.gz"
    source_sha256 = "ff5e2cfbf2c03d5446410f9e00bb38c408831f1f6ef0d9035a99098fbbf33ce8"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.173/dotnet-core-sdk-0.0.173.tgz"
    version = "0.0.173"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "ba6cc91249822e319e647ba4a3901d559fee4ed525a4eed59708707a2d7d850b"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.81.tar.gz"
    source_sha256 = "1d22ca17b4be7e86131c067f4f6dd0bcffdc44cfc3f5b2046bd935a9e500f3fc"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.81/icu-0.0.81.tgz"
    version = "0.0.81"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "6063b6b293470c45b376afda6dcc4a294776f32923106387167917c70faf3c16"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.236.tar.gz"
    source_sha256 = "3975418ff7e65d330301ee7c2dc76473ed5487215dbf15be60bc79dc258bb50f"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.236/node-engine-0.0.236.tgz"
    version = "0.0.236"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "5fb06b83a01f6ed8b5caf5a45847c3a7727c90849c6801d2df42fb5ac0392cdb"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.168.tar.gz"
    source_sha256 = "df16fe29e7a979d348109490664ad4831395620fe29b0f73aa4db023b3ee315e"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.168/dotnet-core-aspnet-0.0.168.tgz"
    version = "0.0.168"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "7df4917c9e7a2cfd1078291d274c56f2d3256f604c6408e9ebb0c03b0e4bf2bd"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.101.tar.gz"
    source_sha256 = "12bf95edeb6f86f597df12d7955e7100fef3875702b943723031704ff5e68e38"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.101/dotnet-core-build-0.0.101.tgz"
    version = "0.0.101"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.236"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.81"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.173"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.168"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.173"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.101"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.160"
