api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "053a5cb0534a60d81c2883918c34d88a9c19315f39a06f003a4ff2637b8f5748"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.154.tar.gz"
    source_sha256 = "6a58695ad9b19998d5a3ad10600d253ba1e94a5b20ac96193ba54e88b44cad1d"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.154/dotnet-core-conf-0.0.154.tgz"
    version = "0.0.154"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "b0fb376b9b772b7a9144f1e11e11151b3a484af407deb65c613cbfee1d7ef517"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.168.tar.gz"
    source_sha256 = "932cd87dcde1aac791a354b5d53a12841111a8ae81ce0e25d13ebbe42d2718fe"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.168/dotnet-core-runtime-0.0.168.tgz"
    version = "0.0.168"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "897289243a8704c02e199f091372cb4c83da1f196557e6b598bd853205cc166f"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.169.tar.gz"
    source_sha256 = "ee60688be76922fe7a907ee61756c5ed7419df3e1d6d21e40577a155c8f8d9bc"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.169/dotnet-core-sdk-0.0.169.tgz"
    version = "0.0.169"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "132ee2bca16736a0d78d92c84d6c69307d9c069328a73889c83582a2ab2d84ae"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.78.tar.gz"
    source_sha256 = "b179346f9cd393b8341c6eca5e4766dd73f79bf4b5aa101ab25c0bca9778024b"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.78/icu-0.0.78.tgz"
    version = "0.0.78"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "7f687866deca200bfd5fb43d9d0ae967e8256d9fc81fb440a0fda790eda1105f"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.224.tar.gz"
    source_sha256 = "ef98b69c21fdacea437801e09481a520e704010e177d79be96e8987cf16a4fbe"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.224/node-engine-0.0.224.tgz"
    version = "0.0.224"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "fdcb5599cee3525d64d41ceae40877accf249d6bc73abf589e2a164d080d1293"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.164.tar.gz"
    source_sha256 = "292409332efbe9a1730761d143a336a97e77c603a4896103f809bb726c7eeb8e"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.164/dotnet-core-aspnet-0.0.164.tgz"
    version = "0.0.164"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "e40bc743ab30385502258b434ee5c86e3651e314435fa604deeb59273a87f1a0"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.97.tar.gz"
    source_sha256 = "bd062e36dbda1cabaa9e2ba9bc818f97f408624768d5030df8e034c859aa83d4"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.97/dotnet-core-build-0.0.97.tgz"
    version = "0.0.97"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.224"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.78"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.168"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.164"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.169"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.97"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.154"
