api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "984972d5e6f474b8be0e32ec3ef72d02fd503c01a06154681b2716d4705af467"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.151.tar.gz"
    source_sha256 = "0ac5ca1c89de3d3df30d8d5064175188416b350263e6577bbdeac01c6b009a6a"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.151/dotnet-core-conf-0.0.151.tgz"
    version = "0.0.151"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "8214149583470abe4775f653cc34150ad6f2516772aa67726a25da90edaa888e"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.164.tar.gz"
    source_sha256 = "3b230865ea8b8e3918e65ce6f28dc6632138b02543587bb3ac9a024e9e120b95"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.164/dotnet-core-runtime-0.0.164.tgz"
    version = "0.0.164"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "351a8d3d6189212e8a13a0e97148a4ab0dd733b09752bf47f1b355634c1699cc"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.163.tar.gz"
    source_sha256 = "8bc90eaa1d5a09c03770287e3ae7218981cb3d3f865d2d8000174f04c9e3afcd"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.163/dotnet-core-sdk-0.0.163.tgz"
    version = "0.0.163"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "4ae05778c021e07a664c43073db1506cb42256505b1d4a87d54b40324885091e"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.74.tar.gz"
    source_sha256 = "4337fd0e61aeffc67db10ccbb6a1a3431dec4be4da6d990c4bb616bc65fee7c2"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.74/icu-0.0.74.tgz"
    version = "0.0.74"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "75465a6c1085d07fb6208a44b2741cb3e65e7091e01699a5653ebd234b196419"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.218.tar.gz"
    source_sha256 = "da18ce8a395fd592c2707ce3c5bbaee33023b48eef26d2689319ec65047e7629"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.218/node-engine-0.0.218.tgz"
    version = "0.0.218"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "c312645f6a2c64d427f46579b4f378ff4d4a10a1c0093245d9258149228c6d95"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.162.tar.gz"
    source_sha256 = "4de4d7c48d8de174ba88cffa765f534afd85a1c58128c6ebf5c5c620e2601fff"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.162/dotnet-core-aspnet-0.0.162.tgz"
    version = "0.0.162"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "e76a2c557549201d551b542d94a5b894a2cc8595b294f8b597b829a17321a4d1"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.95.tar.gz"
    source_sha256 = "02c34dc6e6c0252af5c4050033c4f4280b48229569f69ef51e6b63d589869e9b"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.95/dotnet-core-build-0.0.95.tgz"
    version = "0.0.95"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.218"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.74"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.164"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.162"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.163"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.95"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.151"
