api = "0.8"

[buildpack]
  description = "A language family buildpack for pulling in all buildpacks related to building .NET Core apps"
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  keywords = ["dotnet"]
  name = "Paketo Buildpack for .NET Core"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/dotnet-core/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml"]

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ca-certificates"
    optional = true
    version = "3.4.0"

  [[order.group]]
    id = "paketo-buildpacks/watchexec"
    optional = true
    version = "2.7.0"

  [[order.group]]
    id = "paketo-buildpacks/vsdbg"
    optional = true
    version = "0.0.5"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.10.7"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    optional = true
    version = "0.9.8"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.9.7"

  [[order.group]]
    id = "paketo-buildpacks/icu"
    optional = true
    version = "0.4.4"

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    optional = true
    version = "0.17.1"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-publish"
    version = "0.9.5"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-execute"
    version = "0.11.5"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.4.0"

  [[order.group]]
    id = "paketo-buildpacks/environment-variables"
    optional = true
    version = "4.3.0"

  [[order.group]]
    id = "paketo-buildpacks/image-labels"
    optional = true
    version = "4.3.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ca-certificates"
    optional = true
    version = "3.4.0"

  [[order.group]]
    id = "paketo-buildpacks/watchexec"
    optional = true
    version = "2.7.0"

  [[order.group]]
    id = "paketo-buildpacks/vsdbg"
    optional = true
    version = "0.0.5"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.10.7"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    optional = true
    version = "0.9.8"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    optional = true
    version = "0.9.7"

  [[order.group]]
    id = "paketo-buildpacks/icu"
    optional = true
    version = "0.4.4"

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    optional = true
    version = "0.17.1"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-execute"
    version = "0.11.5"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.4.0"

  [[order.group]]
    id = "paketo-buildpacks/environment-variables"
    optional = true
    version = "4.3.0"

  [[order.group]]
    id = "paketo-buildpacks/image-labels"
    optional = true
    version = "4.3.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ca-certificates"
    optional = true
    version = "3.4.0"

  [[order.group]]
    id = "paketo-buildpacks/watchexec"
    optional = true
    version = "2.7.0"

  [[order.group]]
    id = "paketo-buildpacks/vsdbg"
    optional = true
    version = "0.0.5"

  [[order.group]]
    id = "paketo-buildpacks/icu"
    optional = true
    version = "0.4.4"

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    optional = true
    version = "0.17.1"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-execute"
    version = "0.11.5"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.4.0"

  [[order.group]]
    id = "paketo-buildpacks/environment-variables"
    optional = true
    version = "4.3.0"

  [[order.group]]
    id = "paketo-buildpacks/image-labels"
    optional = true
    version = "4.3.0"
