api = "0.8"

[buildpack]
  description = "A language family buildpack for pulling in all buildpacks related to building .NET Core apps"
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  keywords = ["dotnet"]
  name = "Paketo Buildpack for .NET Core"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/dotnet-core/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml"]

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ca-certificates"
    optional = true
    version = "3.12.0"

  [[order.group]]
    id = "paketo-buildpacks/watchexec"
    optional = true
    version = "3.9.0"

  [[order.group]]
    id = "paketo-buildpacks/vsdbg"
    optional = true
    version = "0.6.14"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    optional = true
    version = "1.6.12"

  [[order.group]]
    id = "paketo-buildpacks/icu"
    optional = true
    version = "0.9.14"

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    optional = true
    version = "8.0.4"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-publish"
    optional = true
    version = "1.2.12"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet-runtime"
    optional = true
    version = "1.6.12"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-execute"
    version = "1.2.13"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.13.0"

  [[order.group]]
    id = "paketo-buildpacks/environment-variables"
    optional = true
    version = "4.11.0"

  [[order.group]]
    id = "paketo-buildpacks/image-labels"
    optional = true
    version = "4.12.0"
