api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "d35d3efdfbb294527ef86bfd09697f2f26785496b0a6c1fca82c6b428f150729"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.147.tar.gz"
    source_sha256 = "6348affbb33ec1feda6168d069305a24009f7e11ae0890c3ac01a9e735ca2baf"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.147/dotnet-core-conf-0.0.147.tgz"
    version = "0.0.147"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "94c087627861a74351d62f4f0e990928e2396ebe76fb1c6ec1f1eff4e55043f0"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.160.tar.gz"
    source_sha256 = "e4dbfc09c75f8ee0ba9b454c3a5af7ad943837439ef9f64d66b65217ff6eef6d"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.160/dotnet-core-runtime-0.0.160.tgz"
    version = "0.0.160"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "3f3b1bc7728d28863ec8199545ff0c815c11260ca6bd8d7d22dc3ecbbec979b1"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.158.tar.gz"
    source_sha256 = "10fa60da2c4f212acab7b32ca20a6fffdb332c26f7d2288cbd1fb756dbc4c05a"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.158/dotnet-core-sdk-0.0.158.tgz"
    version = "0.0.158"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "808e6a23d3e2bdfd77e2b63cc488d8f4fdaed663f184bf80f619dfdaa9bbd012"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.71.tar.gz"
    source_sha256 = "aa81fbb821ecec30ce17b9d8a2a9a99cfc74620e824c9cce72dff92557c331b1"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.71/icu-0.0.71.tgz"
    version = "0.0.71"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "ab1c7e3be23245f3550d5b9c376407dc0f53f43b846ebcb438547dd794bb48f7"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.210.tar.gz"
    source_sha256 = "8e0528307e60f36808219eba367afb235406fcb6be07c57b85dc8d94673e0d53"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.210/node-engine-0.0.210.tgz"
    version = "0.0.210"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "a4267d8762c97e2e07b7fbf1d5671c2b4406e771e4b00a7a1a03e61a3cbb3df8"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.156.tar.gz"
    source_sha256 = "30f6d161509e7b19bbe1f3aa8ad6ea67f8c0c661af180eaa98d49c4d1a5c6c89"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.156/dotnet-core-aspnet-0.0.156.tgz"
    version = "0.0.156"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "985bffc6cc666b0b736186bf78200ce5c3fd55813d45d929dc5ee9eee81eb8db"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.92.tar.gz"
    source_sha256 = "ee45ace4b871815efcdf0573128d7d8c1d378ce8961aab2b3bffaadc0ff4fec6"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.92/dotnet-core-build-0.0.92.tgz"
    version = "0.0.92"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.210"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.71"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.160"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.156"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.158"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.92"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.147"
