api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "053a5cb0534a60d81c2883918c34d88a9c19315f39a06f003a4ff2637b8f5748"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.154.tar.gz"
    source_sha256 = "6a58695ad9b19998d5a3ad10600d253ba1e94a5b20ac96193ba54e88b44cad1d"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.154/dotnet-core-conf-0.0.154.tgz"
    version = "0.0.154"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "b0fb376b9b772b7a9144f1e11e11151b3a484af407deb65c613cbfee1d7ef517"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.168.tar.gz"
    source_sha256 = "932cd87dcde1aac791a354b5d53a12841111a8ae81ce0e25d13ebbe42d2718fe"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.168/dotnet-core-runtime-0.0.168.tgz"
    version = "0.0.168"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "c0c0e98d36f029462f27febee3c0a7d049828d269c0b157034f16abea1370943"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.168.tar.gz"
    source_sha256 = "1d28c18869b34067939ec10986a7e4a7715ebaa7cad5ad8ffe114bd62edf6ee9"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.168/dotnet-core-sdk-0.0.168.tgz"
    version = "0.0.168"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "b3fd670afd5f9afd6fbf152db610931a29a99955a00fff91ea95b2c89c1e5b8b"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.77.tar.gz"
    source_sha256 = "99251928360539df5e88b0229e22ff807b3c9c382034bbb709bddc64f6c22929"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.77/icu-0.0.77.tgz"
    version = "0.0.77"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "7f687866deca200bfd5fb43d9d0ae967e8256d9fc81fb440a0fda790eda1105f"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.224.tar.gz"
    source_sha256 = "ef98b69c21fdacea437801e09481a520e704010e177d79be96e8987cf16a4fbe"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.224/node-engine-0.0.224.tgz"
    version = "0.0.224"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "0a84e7c65c4a37e6a29a1d289c8215db83a60011d28e06b2da6407731f9a9e5b"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.165.tar.gz"
    source_sha256 = "4cc3f013f716aaf62f53c5193c6e886b8347584bb3d04f155a8f9aa053814c38"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.165/dotnet-core-aspnet-0.0.165.tgz"
    version = "0.0.165"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "e40bc743ab30385502258b434ee5c86e3651e314435fa604deeb59273a87f1a0"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.97.tar.gz"
    source_sha256 = "bd062e36dbda1cabaa9e2ba9bc818f97f408624768d5030df8e034c859aa83d4"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.97/dotnet-core-build-0.0.97.tgz"
    version = "0.0.97"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.224"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.77"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.168"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.165"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.168"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.97"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.154"
