api = "0.6"

[buildpack]
  description = "A language family buildpack for pulling in all buildpacks related to building .NET Core apps"
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  keywords = ["dotnet"]
  name = "Paketo .NET Core Buildpack"
  version = "{{.Version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/dotnet-core/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml"]

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ca-certificates"
    optional = true
    version = "3.1.0"

  [[order.group]]
    id = "paketo-buildpacks/watchexec"
    optional = true
    version = "2.3.3"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.5.5"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    optional = true
    version = "0.5.4"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.5.6"

  [[order.group]]
    id = "paketo-buildpacks/icu"
    optional = true
    version = "0.1.1"

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    optional = true
    version = "0.12.2"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-publish"
    version = "0.7.0"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-execute"
    version = "0.8.1"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.1.0"

  [[order.group]]
    id = "paketo-buildpacks/environment-variables"
    optional = true
    version = "4.1.0"

  [[order.group]]
    id = "paketo-buildpacks/image-labels"
    optional = true
    version = "4.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ca-certificates"
    optional = true
    version = "3.1.0"

  [[order.group]]
    id = "paketo-buildpacks/watchexec"
    optional = true
    version = "2.3.3"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.5.5"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    optional = true
    version = "0.5.4"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    optional = true
    version = "0.5.6"

  [[order.group]]
    id = "paketo-buildpacks/icu"
    optional = true
    version = "0.1.1"

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    optional = true
    version = "0.12.2"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-execute"
    version = "0.8.1"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.1.0"

  [[order.group]]
    id = "paketo-buildpacks/environment-variables"
    optional = true
    version = "4.1.0"

  [[order.group]]
    id = "paketo-buildpacks/image-labels"
    optional = true
    version = "4.1.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ca-certificates"
    optional = true
    version = "3.1.0"

  [[order.group]]
    id = "paketo-buildpacks/watchexec"
    optional = true
    version = "2.3.3"

  [[order.group]]
    id = "paketo-buildpacks/icu"
    optional = true
    version = "0.1.1"

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    optional = true
    version = "0.12.2"

  [[order.group]]
    id = "paketo-buildpacks/dotnet-execute"
    version = "0.8.1"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.1.0"

  [[order.group]]
    id = "paketo-buildpacks/environment-variables"
    optional = true
    version = "4.1.0"

  [[order.group]]
    id = "paketo-buildpacks/image-labels"
    optional = true
    version = "4.1.0"
