api = "0.2"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-core"
  id = "paketo-buildpacks/dotnet-core"
  name = ".NET Core Buildpack"
  version = "{{.Version}}"

[metadata]
  include_files = ["buildpack.toml"]

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-conf"
    sha256 = "4f9cbcf7cb96d7a90ec92d204a2b2b508dc2e5f189f0835a0078428872ab61b2"
    source = "https://github.com/paketo-buildpacks/dotnet-core-conf/archive/v0.0.157.tar.gz"
    source_sha256 = "3de6f99689762b69844164aefb8a531acc49f0291943cbdc8c3b9b1dbc5104be"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-conf/releases/download/v0.0.157/dotnet-core-conf-0.0.157.tgz"
    version = "0.0.157"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    sha256 = "28bc775d62f0c47b199b6af2461480a22e4fe87e8852434635ee35d6a7571b6b"
    source = "https://github.com/paketo-buildpacks/dotnet-core-runtime/archive/v0.0.171.tar.gz"
    source_sha256 = "506e8e1a0212773c724d70f199fdb8ea6df1066fa1543cdab74c01abb0168c60"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-runtime/releases/download/v0.0.171/dotnet-core-runtime-0.0.171.tgz"
    version = "0.0.171"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    sha256 = "b6ade13569c5344910e43684e0c4e6477b6818d98c3ace1e9eb0e43181458bd2"
    source = "https://github.com/paketo-buildpacks/dotnet-core-sdk/archive/v0.0.172.tar.gz"
    source_sha256 = "9ae15cadeef74663cf3b9d9a932436413c3e561bc51a2dd515f2e88358d29474"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-sdk/releases/download/v0.0.172/dotnet-core-sdk-0.0.172.tgz"
    version = "0.0.172"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/icu"
    sha256 = "693d2ce4e16f142e0bc9c9370be5f5c1ca01d76ac62ae91ccc48b35486476d25"
    source = "https://github.com/paketo-buildpacks/icu/archive/v0.0.80.tar.gz"
    source_sha256 = "1c0d92e14c40f7769f971e2909ba1ae0b68e56888d8746a9a664055f95797c91"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/icu/releases/download/v0.0.80/icu-0.0.80.tgz"
    version = "0.0.80"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/node-engine"
    sha256 = "497d6e4c50f429d8d3acd0e644e0143204c3143a7c8822fc9b492ab32bb0d737"
    source = "https://github.com/paketo-buildpacks/node-engine/archive/v0.0.234.tar.gz"
    source_sha256 = "0e8e363dc40ae1055690fdfe2eff0d22fa7d6486f9bfa6d1dac9914ac34f2ef6"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/node-engine/releases/download/v0.0.234/node-engine-0.0.234.tgz"
    version = "0.0.234"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    sha256 = "d6d9e35cbdaca100f2db4b4854fadea9a1ccbf1cc3a0b7041c4a88dd3ddbcb65"
    source = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/archive/v0.0.167.tar.gz"
    source_sha256 = "9eeaf3beab190381c8a24b993577e906701776877ac1a0f0aba5cc657244f5de"
    stacks = ["io.buildpacks.stacks.bionic", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-aspnet/releases/download/v0.0.167/dotnet-core-aspnet-0.0.167.tgz"
    version = "0.0.167"

  [[metadata.dependencies]]
    id = "paketo-buildpacks/dotnet-core-build"
    sha256 = "7df4917c9e7a2cfd1078291d274c56f2d3256f604c6408e9ebb0c03b0e4bf2bd"
    source = "https://github.com/paketo-buildpacks/dotnet-core-build/archive/v0.0.101.tar.gz"
    source_sha256 = "12bf95edeb6f86f597df12d7955e7100fef3875702b943723031704ff5e68e38"
    stacks = ["org.cloudfoundry.stacks.cflinuxfs3", "io.buildpacks.stacks.bionic"]
    uri = "https://github.com/paketo-buildpacks/dotnet-core-build/releases/download/v0.0.101/dotnet-core-build-0.0.101.tgz"
    version = "0.0.101"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/node-engine"
    version = "0.0.234"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/icu"
    version = "0.0.80"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-runtime"
    version = "0.0.171"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-aspnet"
    version = "0.0.167"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-sdk"
    version = "0.0.172"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-build"
    version = "0.0.101"
    optional = true

  [[order.group]]
    id = "paketo-buildpacks/dotnet-core-conf"
    version = "0.0.157"
